.header__Options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}
.header__Options:hover{
    color: black;
}

.headerOptions_Icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOptions_title{
    font-size: 12px;
    font-weight: 600;
}